/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

 @import "bootstrap";

a {
  text-decoration: none;
};

nav a {
  color: #fff;
}

.card {
  width: 80%;
  margin: 0 auto;
}

.card:nth-child(even) img {
  -ms-transform-origin-x: 180%;
}

.link {
  color: #555;
  font-weight: lighter;

}

.active {
  font-weight: 900;
}