/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

 @import "bootstrap";

 body {
   font-family: 'Raleway', sans-serif;
   padding-bottom: 50px;
 }

a {
  text-decoration: none;
};

nav a {
  color: #fff;
}

.card {
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 3px #aaa;
}

.card:nth-child(even) img {
  -ms-transform-origin-x: 180%;
}

.link {
  color: #555;
  font-weight: lighter;

}

.active {
  font-weight: 900;
}

.contact-info {
  margin-left: 10px;
  text-align: right;
}

.flex-item {
  box-shadow: 2px 2px 3px #aaa;
}

.review-card {
  box-shadow: 1px 1px 3px #aaa;
  padding: 5px;
}

.show-layout {
  max-width: 80%;
  margin: 0 auto;
}

.show-bottom {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.reviews {
  width: 300px;
}

.details {
  width: 50%;
}