<h1>New Review</h1>

<%= simple_form_for([@walker, @walker.reviews.build]) do |f| %>
<div id="rating-form">
  <label for="">Rating </label>
</div>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>

<script>
$('#rating-form').raty({
  path: '/assets/',
  scoreName: 'review[rating]'
});
</script>